<div class="card">

<h1 style="font-size:40px;">Projeto Web</h1>

<p style="font-size:20px;">
Um projeto desenvolvido utilizando <strong>Node.js</strong>, 
<strong>Express</strong> e <strong>Handlebars</strong> para demonstrar
o funcionamento de rotas e páginas dinâmicas.
</p>

</div>


<div class="card">

<h2>👨‍💻 Alunos</h2>

<p><strong>Enzo Crispim</strong></p>
<p><strong>Allan Delacoleta</strong></p>

<p>Curso: Análise e Desenvolvimento de Sistemas</p>
<p>Instituição: UNILAGO</p>

</div>


<div class="card">

<h2>🚀 Tecnologias Utilizadas</h2>

<ul>
<li>Node.js</li>
<li>Express</li>
<li>Handlebars</li>
</ul>

</div>