<div class="card">

<h1>Página Sobre</h1>

<h3>
O ID digitado é:
</h3>

{{#if id}}
<p style="color:#00ffcc; font-size:60px;"><strong>{{id}}</strong></p>
{{else}}
<p style="font-size:25px;">Nenhum ID foi informado</p>
{{/if}}

</div>


<div class="card">

<h2>Sobre o Projeto</h2>

<p>
Este projeto foi desenvolvido para a disciplina de desenvolvimento web.
</p>

<p>
O sistema utiliza <strong>Node.js</strong>, <strong>Express</strong> e 
<strong>Handlebars</strong> para demonstrar o funcionamento de rotas
e renderização de páginas dinâmicas.
</p>

</div>


<div class="card">

<h2>Alunos</h2>

<p><strong>Enzo Crispim</strong></p>
<p><strong>Allan Delacoleta</strong></p>

<p>Curso: Análise e Desenvolvimento de Sistemas</p>
<p>Instituição: UNILAGO</p>

</div>


<div class="card">

<h2>Tecnologias utilizadas</h2>

<ul>
<li>Node.js</li>
<li>Express</li>
<li>Handlebars</li>
</ul>

</div>